@import "./scss/reset", "./scss/variables";

@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Hubballi&display=swap");

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  // width: 100vw;
  background-color: #e1e6fa;
}

::-webkit-scrollbar {
  width: 0.6rem;
  height: 0.6rem;
}

::-webkit-scrollbar-track {
  // border-radius: 10px;
  // background: rgba(0, 0, 0, 0.1);
  background: $cardNavBgColor;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: $turqo;
}

::-webkit-scrollbar-thumb:hover {
  background: $turqo;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
}
